body {
    line-height: 1.6;
    background: #f8f8f8;
    color: #605b5b;
    margin: 0;
  }
  
  header {
    background-color: #123813;
    color: white;
    padding: 1rem;
    text-align: center;
  }
  
  h1, h2 {
    margin-bottom: 0.5rem;
  }
  
  section {
    padding: 1.5rem;
    margin: 1rem auto;
    max-width: 800px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  }
  
  img {
    max-width: 100%;
    border-radius: 8px;
    margin-top: 1rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  
  a {
    color: #68976c;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  form {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  input, textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  button {
    width: fit-content;
    padding: 10px 20px;
    background-color: #605b5b;
    border: none;
    color: white;
    border-radius: 4px;
  }
  
  button:hover {
    background-color: #123813;
  }
  
  footer {
    text-align: center;
    padding: 1rem;
    background-color: #eee;
  }
  